fluxosNifi/BaseCnpj.json
{"flowContents":{"identifier":"8373da49-7dc3-3c78-b47b-8d4991a13af7","instanceIdentifier":"f09173c4-018c-1000-4851-76ce8bcb84ba","name":"BaseCnpj","comments":"","position":{"x":184.0,"y":-8.0},"processGroups":[{"identifier":"04cc6082-c8d4-30a0-b311-67398e71eb0d","instanceIdentifier":"018d1044-d729-102a-0ee0-206a0e6be227","name":"CheckDownload","comments":"valida se processo pode baixar","position":{"x":-1360.0,"y":480.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"34033a45-6dd4-3e1a-8a25-96cb1d119703","instanceIdentifier":"d729103a-1043-118d-d2a2-b841ed5ed858","name":"ConverteTexto","comments":"","position":{"x":-2848.0,"y":-336.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"record-writer":"9187b935-87d1-3696-9f64-e4807a5f9ad5","record-reader":"97f9aad4-1a58-34ca-849d-901a8070f99d","include-zero-record-flowfiles":"false"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"04cc6082-c8d4-30a0-b311-67398e71eb0d"},{"identifier":"8019aa12-cc94-3ce7-ba68-a7c8160eb41f","instanceIdentifier":"75ddbd36-018d-1000-1a1b-6a2ca4938076","name":"StarterFlow","comments":"","position":{"x":-4568.0,"y":-328.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 0 1 12,15,21 1/1 ? *","schedulingStrategy":"CRON_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"04cc6082-c8d4-30a0-b311-67398e71eb0d"},{"identifier":"0bca8828-acfc-3261-9423-a80a61ae7ab7","instanceIdentifier":"0ae2804a-018d-1000-612a-37d9e6b14fd9","name":"ConsultaData","comments":"","position":{"x":-4064.0,"y":-120.0},"type":"org.apache.nifi.processors.standard.ExecuteSQLRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"esql-max-rows":"0","esqlrecord-record-writer":"9187b935-87d1-3696-9f64-e4807a5f9ad5","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"8045fcd6-b92c-347f-b80c-e58659449cc8","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"select public.fn_indata('${lastmodified.0: replace('-','')}');","esqlrecord-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"esqlrecord-record-writer":{"name":"esqlrecord-record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"esqlrecord-normalize":{"name":"esqlrecord-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"04cc6082-c8d4-30a0-b311-67398e71eb0d"},{"identifier":"025351ed-95ba-34f0-8a5e-eb064e663a8d","instanceIdentifier":"d729107f-1043-118d-795e-78dcd8f35224","name":"ExtraiData","comments":"","position":{"x":-3456.0,"y":-128.0},"type":"org.apache.nifi.processors.standard.ExtractText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Enable Unicode Predefined Character Classes":"false","Permit Whitespace and Comments in Pattern":"false","Enable Unicode-aware Case Folding":"false","Enable DOTALL Mode":"false","Enable Unix Lines Mode":"false","extract-text-enable-named-groups":"false","Maximum Buffer Size":"1 MB","Enable Canonical Equivalence":"false","Enable Case-insensitive Matching":"false","Enable Multiline Mode":"false","lastmodified":"\\b\\d{4}-\\d{2}-\\d{2}\\b","Maximum Capture Group Length":"1024","Enable Literal Parsing of the Pattern":"false","Character Set":"UTF-8","Include Capture Group 0":"true","extract-text-enable-repeating-capture-group":"false"},"propertyDescriptors":{"Enable Unicode Predefined Character Classes":{"name":"Enable Unicode Predefined Character Classes","displayName":"Enable Unicode Predefined Character Classes","identifiesControllerService":false,"sensitive":false},"Permit Whitespace and Comments in Pattern":{"name":"Permit Whitespace and Comments in Pattern","displayName":"Permit Whitespace and Comments in Pattern","identifiesControllerService":false,"sensitive":false},"Enable Unicode-aware Case Folding":{"name":"Enable Unicode-aware Case Folding","displayName":"Enable Unicode-aware Case Folding","identifiesControllerService":false,"sensitive":false},"Enable DOTALL Mode":{"name":"Enable DOTALL Mode","displayName":"Enable DOTALL Mode","identifiesControllerService":false,"sensitive":false},"Enable Unix Lines Mode":{"name":"Enable Unix Lines Mode","displayName":"Enable Unix Lines Mode","identifiesControllerService":false,"sensitive":false},"extract-text-enable-named-groups":{"name":"extract-text-enable-named-groups","displayName":"Enable named group support","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Enable Canonical Equivalence":{"name":"Enable Canonical Equivalence","displayName":"Enable Canonical Equivalence","identifiesControllerService":false,"sensitive":false},"Enable Case-insensitive Matching":{"name":"Enable Case-insensitive Matching","displayName":"Enable Case-insensitive Matching","identifiesControllerService":false,"sensitive":false},"Enable Multiline Mode":{"name":"Enable Multiline Mode","displayName":"Enable Multiline Mode","identifiesControllerService":false,"sensitive":false},"lastmodified":{"name":"lastmodified","displayName":"lastmodified","identifiesControllerService":false,"sensitive":false},"Maximum Capture Group Length":{"name":"Maximum Capture Group Length","displayName":"Maximum Capture Group Length","identifiesControllerService":false,"sensitive":false},"Enable Literal Parsing of the Pattern":{"name":"Enable Literal Parsing of the Pattern","displayName":"Enable Literal Parsing of the Pattern","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Include Capture Group 0":{"name":"Include Capture Group 0","displayName":"Include Capture Group 0","identifiesControllerService":false,"sensitive":false},"extract-text-enable-repeating-capture-group":{"name":"extract-text-enable-repeating-capture-group","displayName":"Enable repeating capture group","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"04cc6082-c8d4-30a0-b311-67398e71eb0d"},{"identifier":"250d1878-3884-3247-b131-65a7676c8add","instanceIdentifier":"d7291040-1043-118d-1cbc-3ec58ffe2ad2","name":"RoteiaArquivoZip","comments":"Seleciona um arquivo zipado para obter a data de modificação do mesmo\nSelecionado este arquivo por ser habitualmente o maior","position":{"x":-2856.0,"y":-128.0},"type":"org.apache.nifi.processors.standard.RouteOnContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Content Buffer Size":"1 MB","Match Requirement":"content must contain match","lookFile":"Estabelecimentos0.zip","Character Set":"UTF-8"},"propertyDescriptors":{"Content Buffer Size":{"name":"Content Buffer Size","displayName":"Content Buffer Size","identifiesControllerService":false,"sensitive":false},"Match Requirement":{"name":"Match Requirement","displayName":"Match Requirement","identifiesControllerService":false,"sensitive":false},"lookFile":{"name":"lookFile","displayName":"lookFile","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"04cc6082-c8d4-30a0-b311-67398e71eb0d"},{"identifier":"1b8121ee-ac09-32a9-9687-399055085ecf","instanceIdentifier":"d729106e-1043-118d-4731-7c389432d193","name":"FiltraElementos","comments":"","position":{"x":-3464.0,"y":-328.0},"type":"org.apache.nifi.GetHTMLElement","bundle":{"group":"org.apache.nifi","artifact":"nifi-html-nar","version":"1.23.2"},"properties":{"Destination":"flowfile-content","Output Type":"HTML","Append Element Value":null,"Attribute Name":null,"HTML Character Encoding":"UTF-8","URL":"https://dadosabertos.rfb.gov.br/CNPJ/","CSS Selector":"tbody > tr","Prepend Element Value":null},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Output Type":{"name":"Output Type","displayName":"Output Type","identifiesControllerService":false,"sensitive":false},"Append Element Value":{"name":"Append Element Value","displayName":"Append Element Value","identifiesControllerService":false,"sensitive":false},"Attribute Name":{"name":"Attribute Name","displayName":"Attribute Name","identifiesControllerService":false,"sensitive":false},"HTML Character Encoding":{"name":"HTML Character Encoding","displayName":"HTML Character Encoding","identifiesControllerService":false,"sensitive":false},"URL":{"name":"URL","displayName":"URL","identifiesControllerService":false,"sensitive":false},"CSS Selector":{"name":"CSS Selector","displayName":"CSS Selector","identifiesControllerService":false,"sensitive":false},"Prepend Element Value":{"name":"Prepend Element Value","displayName":"Prepend Element Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","invalid html","element not found"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"04cc6082-c8d4-30a0-b311-67398e71eb0d"},{"identifier":"8120154a-04de-3702-b32e-3db0d1a2570c","instanceIdentifier":"d729102f-103a-118d-e61a-ff2146b0c7af","name":"RequisitaPagina","comments":"","position":{"x":-4064.0,"y":-336.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://dadosabertos.rfb.gov.br/CNPJ/","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"URL_PATH","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Socket Write Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":"686ecb6a-a9a2-31b4-9e7b-cb59290258e2","Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"04cc6082-c8d4-30a0-b311-67398e71eb0d"}],"inputPorts":[],"outputPorts":[{"identifier":"a8a981ba-c005-38f7-8d2a-51e266784503","instanceIdentifier":"018d100c-804a-1ae2-9e4b-7d1957cf4ff0","name":"OP_SendSttCrl","comments":"","position":{"x":-4016.0,"y":136.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"04cc6082-c8d4-30a0-b311-67398e71eb0d"}],"connections":[{"identifier":"287b28f4-f776-313b-8de4-01ff22c725a4","instanceIdentifier":"d729103c-1043-118d-874c-27d8db68d180","name":"","source":{"id":"34033a45-6dd4-3e1a-8a25-96cb1d119703","type":"PROCESSOR","groupId":"04cc6082-c8d4-30a0-b311-67398e71eb0d","name":"ConverteTexto","comments":"","instanceIdentifier":"d729103a-1043-118d-d2a2-b841ed5ed858"},"destination":{"id":"250d1878-3884-3247-b131-65a7676c8add","type":"PROCESSOR","groupId":"04cc6082-c8d4-30a0-b311-67398e71eb0d","name":"RoteiaArquivoZip","comments":"Seleciona um arquivo zipado para obter a data de modificação do mesmo\nSelecionado este arquivo por ser habitualmente o maior","instanceIdentifier":"d7291040-1043-118d-1cbc-3ec58ffe2ad2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"04cc6082-c8d4-30a0-b311-67398e71eb0d"},{"identifier":"3d7a9e60-dad5-31ce-81cd-95f9e3e1c636","instanceIdentifier":"d7291090-1043-118d-0110-54dd91b4867a","name":"","source":{"id":"250d1878-3884-3247-b131-65a7676c8add","type":"PROCESSOR","groupId":"04cc6082-c8d4-30a0-b311-67398e71eb0d","name":"RoteiaArquivoZip","comments":"Seleciona um arquivo zipado para obter a data de modificação do mesmo\nSelecionado este arquivo por ser habitualmente o maior","instanceIdentifier":"d7291040-1043-118d-1cbc-3ec58ffe2ad2"},"destination":{"id":"025351ed-95ba-34f0-8a5e-eb064e663a8d","type":"PROCESSOR","groupId":"04cc6082-c8d4-30a0-b311-67398e71eb0d","name":"ExtraiData","comments":"","instanceIdentifier":"d729107f-1043-118d-795e-78dcd8f35224"},"labelIndex":1,"zIndex":0,"selectedRelationships":["lookFile"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"04cc6082-c8d4-30a0-b311-67398e71eb0d"},{"identifier":"0b5371b5-f672-3ad6-87f3-0840c2aab417","instanceIdentifier":"d729106f-1043-118d-82db-97c33cad9685","name":"","source":{"id":"1b8121ee-ac09-32a9-9687-399055085ecf","type":"PROCESSOR","groupId":"04cc6082-c8d4-30a0-b311-67398e71eb0d","name":"FiltraElementos","comments":"","instanceIdentifier":"d729106e-1043-118d-4731-7c389432d193"},"destination":{"id":"34033a45-6dd4-3e1a-8a25-96cb1d119703","type":"PROCESSOR","groupId":"04cc6082-c8d4-30a0-b311-67398e71eb0d","name":"ConverteTexto","comments":"","instanceIdentifier":"d729103a-1043-118d-d2a2-b841ed5ed858"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"04cc6082-c8d4-30a0-b311-67398e71eb0d"},{"identifier":"52bda0e3-2793-35e5-bd89-8f4ca2d966b4","instanceIdentifier":"75de5990-018d-1000-a915-4f1d740c5fb7","name":"","source":{"id":"8019aa12-cc94-3ce7-ba68-a7c8160eb41f","type":"PROCESSOR","groupId":"04cc6082-c8d4-30a0-b311-67398e71eb0d","name":"StarterFlow","comments":"","instanceIdentifier":"75ddbd36-018d-1000-1a1b-6a2ca4938076"},"destination":{"id":"8120154a-04de-3702-b32e-3db0d1a2570c","type":"PROCESSOR","groupId":"04cc6082-c8d4-30a0-b311-67398e71eb0d","name":"RequisitaPagina","comments":"","instanceIdentifier":"d729102f-103a-118d-e61a-ff2146b0c7af"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"04cc6082-c8d4-30a0-b311-67398e71eb0d"},{"identifier":"bcb4b68f-9332-3889-b847-2bf77832462b","instanceIdentifier":"d729102c-1043-118d-3db5-09f837c55f6f","name":"","source":{"id":"8120154a-04de-3702-b32e-3db0d1a2570c","type":"PROCESSOR","groupId":"04cc6082-c8d4-30a0-b311-67398e71eb0d","name":"RequisitaPagina","comments":"","instanceIdentifier":"d729102f-103a-118d-e61a-ff2146b0c7af"},"destination":{"id":"8120154a-04de-3702-b32e-3db0d1a2570c","type":"PROCESSOR","groupId":"04cc6082-c8d4-30a0-b311-67398e71eb0d","name":"RequisitaPagina","comments":"","instanceIdentifier":"d729102f-103a-118d-e61a-ff2146b0c7af"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-3816.0,"y":-392.0},{"x":-3976.0,"y":-368.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"04cc6082-c8d4-30a0-b311-67398e71eb0d"},{"identifier":"a4d1c3b7-7889-3554-bcdd-b7ba9db18f69","instanceIdentifier":"d7291070-1043-118d-5799-b46426dba7b4","name":"","source":{"id":"8120154a-04de-3702-b32e-3db0d1a2570c","type":"PROCESSOR","groupId":"04cc6082-c8d4-30a0-b311-67398e71eb0d","name":"RequisitaPagina","comments":"","instanceIdentifier":"d729102f-103a-118d-e61a-ff2146b0c7af"},"destination":{"id":"1b8121ee-ac09-32a9-9687-399055085ecf","type":"PROCESSOR","groupId":"04cc6082-c8d4-30a0-b311-67398e71eb0d","name":"FiltraElementos","comments":"","instanceIdentifier":"d729106e-1043-118d-4731-7c389432d193"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"04cc6082-c8d4-30a0-b311-67398e71eb0d"},{"identifier":"24abbcf4-f188-3b5b-9eb1-5a1c542a4cfd","instanceIdentifier":"0ae8b722-018d-1000-f15e-07d0e36ecba9","name":"","source":{"id":"025351ed-95ba-34f0-8a5e-eb064e663a8d","type":"PROCESSOR","groupId":"04cc6082-c8d4-30a0-b311-67398e71eb0d","name":"ExtraiData","comments":"","instanceIdentifier":"d729107f-1043-118d-795e-78dcd8f35224"},"destination":{"id":"0bca8828-acfc-3261-9423-a80a61ae7ab7","type":"PROCESSOR","groupId":"04cc6082-c8d4-30a0-b311-67398e71eb0d","name":"ConsultaData","comments":"","instanceIdentifier":"0ae2804a-018d-1000-612a-37d9e6b14fd9"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"04cc6082-c8d4-30a0-b311-67398e71eb0d"},{"identifier":"3e808059-928f-3368-b100-f6507912495f","instanceIdentifier":"0aeb9e06-018d-1000-8ba6-ea1d8778a063","name":"","source":{"id":"0bca8828-acfc-3261-9423-a80a61ae7ab7","type":"PROCESSOR","groupId":"04cc6082-c8d4-30a0-b311-67398e71eb0d","name":"ConsultaData","comments":"","instanceIdentifier":"0ae2804a-018d-1000-612a-37d9e6b14fd9"},"destination":{"id":"a8a981ba-c005-38f7-8d2a-51e266784503","type":"OUTPUT_PORT","groupId":"04cc6082-c8d4-30a0-b311-67398e71eb0d","name":"OP_SendSttCrl","comments":"","instanceIdentifier":"018d100c-804a-1ae2-9e4b-7d1957cf4ff0"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"04cc6082-c8d4-30a0-b311-67398e71eb0d"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","logFileSuffix":"","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"8373da49-7dc3-3c78-b47b-8d4991a13af7"},{"identifier":"482a2edf-caf3-3b1d-a8b3-1b2ef0f67ed6","instanceIdentifier":"018d100e-804a-1ae2-766d-0f16f047b153","name":"DownloadBase","comments":"","position":{"x":-680.0,"y":488.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"8b19d72d-2c12-3098-9671-41f67d6c20ac","instanceIdentifier":"018d100f-e74b-1bc7-2ec3-79eadb17ee06","name":"AtualizaNomeArquivoStarter","comments":"","position":{"x":600.0,"y":344.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.23.2"},"properties":{"Delete Attributes Expression":null,"filename":"StarterProcessCNPJ.txt","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"482a2edf-caf3-3b1d-a8b3-1b2ef0f67ed6"},{"identifier":"3046795e-0d8d-3b8c-abf8-8ef91479971d","instanceIdentifier":"f12fd99e-018c-1000-4ba7-4ab83201da31","name":"FiltraLinksArquivos","comments":"","position":{"x":600.0,"y":-296.0},"type":"org.apache.nifi.GetHTMLElement","bundle":{"group":"org.apache.nifi","artifact":"nifi-html-nar","version":"1.23.2"},"properties":{"Destination":"flowfile-attribute","Output Type":"HTML","Append Element Value":null,"Attribute Name":null,"HTML Character Encoding":"UTF-8","URL":"https://dadosabertos.rfb.gov.br/CNPJ/","CSS Selector":"a[href*=\".zip\"]","Prepend Element Value":null},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Output Type":{"name":"Output Type","displayName":"Output Type","identifiesControllerService":false,"sensitive":false},"Append Element Value":{"name":"Append Element Value","displayName":"Append Element Value","identifiesControllerService":false,"sensitive":false},"Attribute Name":{"name":"Attribute Name","displayName":"Attribute Name","identifiesControllerService":false,"sensitive":false},"HTML Character Encoding":{"name":"HTML Character Encoding","displayName":"HTML Character Encoding","identifiesControllerService":false,"sensitive":false},"URL":{"name":"URL","displayName":"URL","identifiesControllerService":false,"sensitive":false},"CSS Selector":{"name":"CSS Selector","displayName":"CSS Selector","identifiesControllerService":false,"sensitive":false},"Prepend Element Value":{"name":"Prepend Element Value","displayName":"Prepend Element Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","invalid html","element not found"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"482a2edf-caf3-3b1d-a8b3-1b2ef0f67ed6"},{"identifier":"d8aea677-8959-3498-9b28-d4fda93f0551","instanceIdentifier":"f138c56a-018c-1000-c075-2de42e6a0e62","name":"RequisitaHtml","comments":"","position":{"x":16.0,"y":-288.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://dadosabertos.rfb.gov.br/CNPJ/","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Socket Write Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":"686ecb6a-a9a2-31b4-9e7b-cb59290258e2","Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"5 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"482a2edf-caf3-3b1d-a8b3-1b2ef0f67ed6"},{"identifier":"976288e1-b3c0-38d3-884a-c5a57d14c1cf","instanceIdentifier":"f6786215-018c-1000-a77e-684caf011816","name":"AtualizaNomeArquivo","comments":"","position":{"x":-616.0,"y":-104.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.23.2"},"properties":{"SubProcess":"${invokehttp.response.url: substringBeforeLast('/'):substringAfterLast('/')}_${lastmodified.0: replace('-',''): substring(0,6)}","ddwldbase":"'${now():format('yyyyMMdd')}'","Delete Attributes Expression":null,"filename":"${filename:substringBeforeLast('.'):substringAfterLast('.'):substring(2,6):append('_${segment.original.filename}'):append('.CSV'):toUpper():prepend(${now():format(\"yyyyMMdd_\")})}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","cflagcrtl":"'1'","Stateful Variables Initial Value":null,"ddataref":"'${lastmodified.0:replace('-','')}'"},"propertyDescriptors":{"SubProcess":{"name":"SubProcess","displayName":"SubProcess","identifiesControllerService":false,"sensitive":false},"ddwldbase":{"name":"ddwldbase","displayName":"ddwldbase","identifiesControllerService":false,"sensitive":false},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"cflagcrtl":{"name":"cflagcrtl","displayName":"cflagcrtl","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"ddataref":{"name":"ddataref","displayName":"ddataref","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"482a2edf-caf3-3b1d-a8b3-1b2ef0f67ed6"},{"identifier":"af42440e-93d9-3e4c-8d42-c1015a3820ea","instanceIdentifier":"f0b77fa6-018c-1000-fd53-370ebde406f6","name":"SalvaArquivo","comments":"","position":{"x":-616.0,"y":104.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/home/uoperator/workdir/staging/${SubProcess}","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"482a2edf-caf3-3b1d-a8b3-1b2ef0f67ed6"},{"identifier":"33f71cbd-cd79-3961-b691-3bb506408465","instanceIdentifier":"018d1001-e74b-1bc7-ecb3-0604cdd7eb43","name":"SalvaArquivoStarter","comments":"","position":{"x":16.0,"y":344.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/home/uoperator/workdir/logsOperation/DirFlagSensor","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"482a2edf-caf3-3b1d-a8b3-1b2ef0f67ed6"},{"identifier":"d28c2e16-6d53-3eef-99e6-253afc856671","instanceIdentifier":"1fc5fb80-018d-1000-db0a-ce3552df524d","name":"AdicionaData-Base","comments":"","position":{"x":8.0,"y":104.0},"type":"org.apache.nifi.processors.standard.PutSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Support Fragmented Transactions":"false","putsql-sql-statement":"insert into tcnpjctrl(ddataref,ddwldbase,cflagcrtl) VALUES ('${lastmodified.0:replace('-','')}','${now():format(\"yyyyMMdd\")}','1') ON CONFLICT (ddataref) DO NOTHING;\n","Transaction Timeout":null,"Batch Size":"100","Obtain Generated Keys":"false","JDBC Connection Pool":"8045fcd6-b92c-347f-b80c-e58659449cc8","database-session-autocommit":"true","rollback-on-failure":"false"},"propertyDescriptors":{"Support Fragmented Transactions":{"name":"Support Fragmented Transactions","displayName":"Support Fragmented Transactions","identifiesControllerService":false,"sensitive":false},"putsql-sql-statement":{"name":"putsql-sql-statement","displayName":"SQL Statement","identifiesControllerService":false,"sensitive":false},"Transaction Timeout":{"name":"Transaction Timeout","displayName":"Transaction Timeout","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Obtain Generated Keys":{"name":"Obtain Generated Keys","displayName":"Obtain Generated Keys","identifiesControllerService":false,"sensitive":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"482a2edf-caf3-3b1d-a8b3-1b2ef0f67ed6"},{"identifier":"67edf3af-4fb5-3a84-93b8-44557c8f3ee3","instanceIdentifier":"f0b28e4a-018c-1000-0885-7156a08f4cd7","name":"RequisitaDownload","comments":"Aumentei o tamanho de tempo de IDLE e timeout para evitar abort da operação.","position":{"x":600.0,"y":-88.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"20 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"10 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://dadosabertos.rfb.gov.br/CNPJ/${HTMLElement}","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"URL_PATH","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"9 mins","Socket Write Timeout":"60 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":"686ecb6a-a9a2-31b4-9e7b-cb59290258e2","Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"5 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"482a2edf-caf3-3b1d-a8b3-1b2ef0f67ed6"},{"identifier":"4e46989e-f9fe-3baa-ae69-1af165328bc0","instanceIdentifier":"f6786213-018c-1000-e71e-d581e0f9cb96","name":"ExtraiBaseZipada","comments":"","position":{"x":8.0,"y":-96.0},"type":"org.apache.nifi.processors.standard.UnpackContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Packaging Format":"zip","allow-stored-entries-wdd":"false","File Filter":".*"},"propertyDescriptors":{"Packaging Format":{"name":"Packaging Format","displayName":"Packaging Format","identifiesControllerService":false,"sensitive":false},"allow-stored-entries-wdd":{"name":"allow-stored-entries-wdd","displayName":"Allow Stored Entries With Data Descriptor","identifiesControllerService":false,"sensitive":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"482a2edf-caf3-3b1d-a8b3-1b2ef0f67ed6"},{"identifier":"d2c2a2bb-90d2-3d00-8462-484ea7987ec2","instanceIdentifier":"018d1002-e74b-1bc7-193a-0c6e206f91b4","name":"TriggerGeraStarter","comments":"Processor só recebe o sinal para gerar o arquivo Starter do processo de transformação dos logs.","position":{"x":600.0,"y":112.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"482a2edf-caf3-3b1d-a8b3-1b2ef0f67ed6"},{"identifier":"5e0d5957-3667-3063-b540-9201ac9652d7","instanceIdentifier":"018d1016-804a-1ae2-0f8c-7c48c4d66d18","name":"RoteiaFluxoDownload","comments":"Se não constar a data na base a função retorna 0, e se for 0, este processo direciona para sucesso.","position":{"x":-616.0,"y":-296.0},"type":"org.apache.nifi.processors.standard.RouteOnContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Content Buffer Size":"1 MB","StartInvoke":"0","Match Requirement":"content must contain match","Character Set":"UTF-8"},"propertyDescriptors":{"Content Buffer Size":{"name":"Content Buffer Size","displayName":"Content Buffer Size","identifiesControllerService":false,"sensitive":false},"StartInvoke":{"name":"StartInvoke","displayName":"StartInvoke","identifiesControllerService":false,"sensitive":false},"Match Requirement":{"name":"Match Requirement","displayName":"Match Requirement","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"482a2edf-caf3-3b1d-a8b3-1b2ef0f67ed6"}],"inputPorts":[{"identifier":"6e372dee-28a5-31bd-8053-623e2ee3228b","instanceIdentifier":"018d1017-804a-1ae2-ebaa-76ea73bb0c67","name":"IP_RcveSttsCtrl","comments":"","position":{"x":-560.0,"y":-456.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"482a2edf-caf3-3b1d-a8b3-1b2ef0f67ed6"}],"outputPorts":[],"connections":[{"identifier":"7954b37a-56c0-3a90-8e75-ab7c16aa61f5","instanceIdentifier":"1fc72af3-018d-1000-fbba-0b18ba0258c2","name":"","source":{"id":"af42440e-93d9-3e4c-8d42-c1015a3820ea","type":"PROCESSOR","groupId":"482a2edf-caf3-3b1d-a8b3-1b2ef0f67ed6","name":"SalvaArquivo","comments":"","instanceIdentifier":"f0b77fa6-018c-1000-fd53-370ebde406f6"},"destination":{"id":"d28c2e16-6d53-3eef-99e6-253afc856671","type":"PROCESSOR","groupId":"482a2edf-caf3-3b1d-a8b3-1b2ef0f67ed6","name":"AdicionaData-Base","comments":"","instanceIdentifier":"1fc5fb80-018d-1000-db0a-ce3552df524d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"482a2edf-caf3-3b1d-a8b3-1b2ef0f67ed6"},{"identifier":"7cf683f1-ff8f-3471-a4cf-b0f077b6c075","instanceIdentifier":"018d1018-804a-1ae2-d2f8-7a1faf77e185","name":"","source":{"id":"6e372dee-28a5-31bd-8053-623e2ee3228b","type":"INPUT_PORT","groupId":"482a2edf-caf3-3b1d-a8b3-1b2ef0f67ed6","name":"IP_RcveSttsCtrl","comments":"","instanceIdentifier":"018d1017-804a-1ae2-ebaa-76ea73bb0c67"},"destination":{"id":"5e0d5957-3667-3063-b540-9201ac9652d7","type":"PROCESSOR","groupId":"482a2edf-caf3-3b1d-a8b3-1b2ef0f67ed6","name":"RoteiaFluxoDownload","comments":"Se não constar a data na base a função retorna 0, e se for 0, este processo direciona para sucesso.","instanceIdentifier":"018d1016-804a-1ae2-0f8c-7c48c4d66d18"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"482a2edf-caf3-3b1d-a8b3-1b2ef0f67ed6"},{"identifier":"8fce4fa8-d744-3ab4-acfb-b5b759e05a8a","instanceIdentifier":"018d1012-804a-1ae2-0bf4-ff0c308238fd","name":"","source":{"id":"67edf3af-4fb5-3a84-93b8-44557c8f3ee3","type":"PROCESSOR","groupId":"482a2edf-caf3-3b1d-a8b3-1b2ef0f67ed6","name":"RequisitaDownload","comments":"Aumentei o tamanho de tempo de IDLE e timeout para evitar abort da operação.","instanceIdentifier":"f0b28e4a-018c-1000-0885-7156a08f4cd7"},"destination":{"id":"4e46989e-f9fe-3baa-ae69-1af165328bc0","type":"PROCESSOR","groupId":"482a2edf-caf3-3b1d-a8b3-1b2ef0f67ed6","name":"ExtraiBaseZipada","comments":"","instanceIdentifier":"f6786213-018c-1000-e71e-d581e0f9cb96"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"482a2edf-caf3-3b1d-a8b3-1b2ef0f67ed6"},{"identifier":"08c02931-bf09-3db4-a558-955c1b6a496c","instanceIdentifier":"018d1010-e74b-1bc7-a2b7-68ed0d2abef8","name":"","source":{"id":"8b19d72d-2c12-3098-9671-41f67d6c20ac","type":"PROCESSOR","groupId":"482a2edf-caf3-3b1d-a8b3-1b2ef0f67ed6","name":"AtualizaNomeArquivoStarter","comments":"","instanceIdentifier":"018d100f-e74b-1bc7-2ec3-79eadb17ee06"},"destination":{"id":"33f71cbd-cd79-3961-b691-3bb506408465","type":"PROCESSOR","groupId":"482a2edf-caf3-3b1d-a8b3-1b2ef0f67ed6","name":"SalvaArquivoStarter","comments":"","instanceIdentifier":"018d1001-e74b-1bc7-ecb3-0604cdd7eb43"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"482a2edf-caf3-3b1d-a8b3-1b2ef0f67ed6"},{"identifier":"14a68cf5-7f75-3ee2-89b8-f080d71108f6","instanceIdentifier":"f6786217-018c-1000-fcaf-8f3b9b0531ad","name":"","source":{"id":"4e46989e-f9fe-3baa-ae69-1af165328bc0","type":"PROCESSOR","groupId":"482a2edf-caf3-3b1d-a8b3-1b2ef0f67ed6","name":"ExtraiBaseZipada","comments":"","instanceIdentifier":"f6786213-018c-1000-e71e-d581e0f9cb96"},"destination":{"id":"976288e1-b3c0-38d3-884a-c5a57d14c1cf","type":"PROCESSOR","groupId":"482a2edf-caf3-3b1d-a8b3-1b2ef0f67ed6","name":"AtualizaNomeArquivo","comments":"","instanceIdentifier":"f6786215-018c-1000-a77e-684caf011816"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"10 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"482a2edf-caf3-3b1d-a8b3-1b2ef0f67ed6"},{"identifier":"1c1eeed7-faf9-3799-9b6f-e947fd4ad961","instanceIdentifier":"1fcf6d64-018d-1000-78c5-e387438614eb","name":"","source":{"id":"d28c2e16-6d53-3eef-99e6-253afc856671","type":"PROCESSOR","groupId":"482a2edf-caf3-3b1d-a8b3-1b2ef0f67ed6","name":"AdicionaData-Base","comments":"","instanceIdentifier":"1fc5fb80-018d-1000-db0a-ce3552df524d"},"destination":{"id":"d28c2e16-6d53-3eef-99e6-253afc856671","type":"PROCESSOR","groupId":"482a2edf-caf3-3b1d-a8b3-1b2ef0f67ed6","name":"AdicionaData-Base","comments":"","instanceIdentifier":"1fc5fb80-018d-1000-db0a-ce3552df524d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":216.0,"y":296.0},{"x":72.0,"y":296.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"482a2edf-caf3-3b1d-a8b3-1b2ef0f67ed6"},{"identifier":"60f504a1-5f59-3a7e-8f7d-450c9b3efe6e","instanceIdentifier":"018d1017-e74b-1bc7-1533-17f701d11334","name":"","source":{"id":"d28c2e16-6d53-3eef-99e6-253afc856671","type":"PROCESSOR","groupId":"482a2edf-caf3-3b1d-a8b3-1b2ef0f67ed6","name":"AdicionaData-Base","comments":"","instanceIdentifier":"1fc5fb80-018d-1000-db0a-ce3552df524d"},"destination":{"id":"d2c2a2bb-90d2-3d00-8462-484ea7987ec2","type":"PROCESSOR","groupId":"482a2edf-caf3-3b1d-a8b3-1b2ef0f67ed6","name":"TriggerGeraStarter","comments":"Processor só recebe o sinal para gerar o arquivo Starter do processo de transformação dos logs.","instanceIdentifier":"018d1002-e74b-1bc7-193a-0c6e206f91b4"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"482a2edf-caf3-3b1d-a8b3-1b2ef0f67ed6"},{"identifier":"fba6f506-2fcb-3f39-8d98-55e71e50fb86","instanceIdentifier":"f6795f93-018c-1000-a2d3-c73c6f0f0949","name":"","source":{"id":"976288e1-b3c0-38d3-884a-c5a57d14c1cf","type":"PROCESSOR","groupId":"482a2edf-caf3-3b1d-a8b3-1b2ef0f67ed6","name":"AtualizaNomeArquivo","comments":"","instanceIdentifier":"f6786215-018c-1000-a77e-684caf011816"},"destination":{"id":"af42440e-93d9-3e4c-8d42-c1015a3820ea","type":"PROCESSOR","groupId":"482a2edf-caf3-3b1d-a8b3-1b2ef0f67ed6","name":"SalvaArquivo","comments":"","instanceIdentifier":"f0b77fa6-018c-1000-fd53-370ebde406f6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"4 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"482a2edf-caf3-3b1d-a8b3-1b2ef0f67ed6"},{"identifier":"6e5caf7d-8a3b-3461-9937-19d039198c44","instanceIdentifier":"19fab0c1-018d-1000-1e70-1173a60f3280","name":"","source":{"id":"d8aea677-8959-3498-9b28-d4fda93f0551","type":"PROCESSOR","groupId":"482a2edf-caf3-3b1d-a8b3-1b2ef0f67ed6","name":"RequisitaHtml","comments":"","instanceIdentifier":"f138c56a-018c-1000-c075-2de42e6a0e62"},"destination":{"id":"d8aea677-8959-3498-9b28-d4fda93f0551","type":"PROCESSOR","groupId":"482a2edf-caf3-3b1d-a8b3-1b2ef0f67ed6","name":"RequisitaHtml","comments":"","instanceIdentifier":"f138c56a-018c-1000-c075-2de42e6a0e62"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":232.0,"y":-368.0},{"x":144.0,"y":-368.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"482a2edf-caf3-3b1d-a8b3-1b2ef0f67ed6"},{"identifier":"53b4d241-5c88-3213-8d62-66344d73e0a0","instanceIdentifier":"018d1005-e74b-1bc7-1ed4-63217b1a9a1c","name":"","source":{"id":"d2c2a2bb-90d2-3d00-8462-484ea7987ec2","type":"PROCESSOR","groupId":"482a2edf-caf3-3b1d-a8b3-1b2ef0f67ed6","name":"TriggerGeraStarter","comments":"Processor só recebe o sinal para gerar o arquivo Starter do processo de transformação dos logs.","instanceIdentifier":"018d1002-e74b-1bc7-193a-0c6e206f91b4"},"destination":{"id":"8b19d72d-2c12-3098-9671-41f67d6c20ac","type":"PROCESSOR","groupId":"482a2edf-caf3-3b1d-a8b3-1b2ef0f67ed6","name":"AtualizaNomeArquivoStarter","comments":"","instanceIdentifier":"018d100f-e74b-1bc7-2ec3-79eadb17ee06"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"482a2edf-caf3-3b1d-a8b3-1b2ef0f67ed6"},{"identifier":"310a6f2c-91f0-3250-bca0-10afd7c89cc5","instanceIdentifier":"19fb19d2-018d-1000-fa34-4859344e4eb5","name":"","source":{"id":"67edf3af-4fb5-3a84-93b8-44557c8f3ee3","type":"PROCESSOR","groupId":"482a2edf-caf3-3b1d-a8b3-1b2ef0f67ed6","name":"RequisitaDownload","comments":"Aumentei o tamanho de tempo de IDLE e timeout para evitar abort da operação.","instanceIdentifier":"f0b28e4a-018c-1000-0885-7156a08f4cd7"},"destination":{"id":"67edf3af-4fb5-3a84-93b8-44557c8f3ee3","type":"PROCESSOR","groupId":"482a2edf-caf3-3b1d-a8b3-1b2ef0f67ed6","name":"RequisitaDownload","comments":"Aumentei o tamanho de tempo de IDLE e timeout para evitar abort da operação.","instanceIdentifier":"f0b28e4a-018c-1000-0885-7156a08f4cd7"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1071.199951171875,"y":-45.94499969482422},{"x":1071.199951171875,"y":4.055000305175781}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"482a2edf-caf3-3b1d-a8b3-1b2ef0f67ed6"},{"identifier":"c568d2c0-909a-37ed-8b49-32496aefaf81","instanceIdentifier":"018d1035-e74b-1bc7-882c-3e134c16c04d","name":"","source":{"id":"3046795e-0d8d-3b8c-abf8-8ef91479971d","type":"PROCESSOR","groupId":"482a2edf-caf3-3b1d-a8b3-1b2ef0f67ed6","name":"FiltraLinksArquivos","comments":"","instanceIdentifier":"f12fd99e-018c-1000-4ba7-4ab83201da31"},"destination":{"id":"67edf3af-4fb5-3a84-93b8-44557c8f3ee3","type":"PROCESSOR","groupId":"482a2edf-caf3-3b1d-a8b3-1b2ef0f67ed6","name":"RequisitaDownload","comments":"Aumentei o tamanho de tempo de IDLE e timeout para evitar abort da operação.","instanceIdentifier":"f0b28e4a-018c-1000-0885-7156a08f4cd7"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"482a2edf-caf3-3b1d-a8b3-1b2ef0f67ed6"},{"identifier":"3f3d0baf-6182-34af-8ace-296500a37042","instanceIdentifier":"f139ec5a-018c-1000-ecff-cf57ecf7ba1b","name":"","source":{"id":"d8aea677-8959-3498-9b28-d4fda93f0551","type":"PROCESSOR","groupId":"482a2edf-caf3-3b1d-a8b3-1b2ef0f67ed6","name":"RequisitaHtml","comments":"","instanceIdentifier":"f138c56a-018c-1000-c075-2de42e6a0e62"},"destination":{"id":"3046795e-0d8d-3b8c-abf8-8ef91479971d","type":"PROCESSOR","groupId":"482a2edf-caf3-3b1d-a8b3-1b2ef0f67ed6","name":"FiltraLinksArquivos","comments":"","instanceIdentifier":"f12fd99e-018c-1000-4ba7-4ab83201da31"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"482a2edf-caf3-3b1d-a8b3-1b2ef0f67ed6"},{"identifier":"c939beac-2e58-3b3d-9628-50c1810f85e3","instanceIdentifier":"1f318a2e-018d-1000-0b46-2fbfb92091e0","name":"","source":{"id":"5e0d5957-3667-3063-b540-9201ac9652d7","type":"PROCESSOR","groupId":"482a2edf-caf3-3b1d-a8b3-1b2ef0f67ed6","name":"RoteiaFluxoDownload","comments":"Se não constar a data na base a função retorna 0, e se for 0, este processo direciona para sucesso.","instanceIdentifier":"018d1016-804a-1ae2-0f8c-7c48c4d66d18"},"destination":{"id":"fb0a47fc-4eaf-369f-9f70-635a64e1527a","type":"FUNNEL","groupId":"482a2edf-caf3-3b1d-a8b3-1b2ef0f67ed6","name":"Funnel","comments":"","instanceIdentifier":"1f316b59-018d-1000-dbeb-f436e9a0f3e4"},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"482a2edf-caf3-3b1d-a8b3-1b2ef0f67ed6"},{"identifier":"38889119-4897-3d21-a972-667ec528355b","instanceIdentifier":"018d1019-804a-1ae2-dffa-2c7d683f8a60","name":"","source":{"id":"5e0d5957-3667-3063-b540-9201ac9652d7","type":"PROCESSOR","groupId":"482a2edf-caf3-3b1d-a8b3-1b2ef0f67ed6","name":"RoteiaFluxoDownload","comments":"Se não constar a data na base a função retorna 0, e se for 0, este processo direciona para sucesso.","instanceIdentifier":"018d1016-804a-1ae2-0f8c-7c48c4d66d18"},"destination":{"id":"d8aea677-8959-3498-9b28-d4fda93f0551","type":"PROCESSOR","groupId":"482a2edf-caf3-3b1d-a8b3-1b2ef0f67ed6","name":"RequisitaHtml","comments":"","instanceIdentifier":"f138c56a-018c-1000-c075-2de42e6a0e62"},"labelIndex":1,"zIndex":0,"selectedRelationships":["StartInvoke"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"482a2edf-caf3-3b1d-a8b3-1b2ef0f67ed6"}],"labels":[],"funnels":[{"identifier":"fb0a47fc-4eaf-369f-9f70-635a64e1527a","instanceIdentifier":"1f316b59-018d-1000-dbeb-f436e9a0f3e4","position":{"x":-153.82687780312358,"y":-345.1740739844379},"componentType":"FUNNEL","groupIdentifier":"482a2edf-caf3-3b1d-a8b3-1b2ef0f67ed6"}],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","logFileSuffix":"","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"8373da49-7dc3-3c78-b47b-8d4991a13af7"}],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"683261ee-1d09-37fe-b78d-a86b67675d6e","instanceIdentifier":"018d101b-804a-1ae2-1137-ba448048c19f","name":"","source":{"id":"a8a981ba-c005-38f7-8d2a-51e266784503","type":"OUTPUT_PORT","groupId":"04cc6082-c8d4-30a0-b311-67398e71eb0d","name":"OP_SendSttCrl","comments":"","instanceIdentifier":"018d100c-804a-1ae2-9e4b-7d1957cf4ff0"},"destination":{"id":"6e372dee-28a5-31bd-8053-623e2ee3228b","type":"INPUT_PORT","groupId":"482a2edf-caf3-3b1d-a8b3-1b2ef0f67ed6","name":"IP_RcveSttsCtrl","comments":"","instanceIdentifier":"018d1017-804a-1ae2-ebaa-76ea73bb0c67"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8373da49-7dc3-3c78-b47b-8d4991a13af7"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"686ecb6a-a9a2-31b4-9e7b-cb59290258e2","instanceIdentifier":"f0a0ee50-018c-1000-d7ed-bdeb156703a7","name":"DEV_SSLContextService","comments":"","type":"org.apache.nifi.ssl.StandardRestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-ssl-context-service-nar","version":"1.23.2"},"properties":{"Truststore Type":"JKS","SSL Protocol":"TLS","Keystore Type":null,"Truststore Filename":"/usr/lib/jvm/java-11-openjdk-amd64/lib/security/cacerts","Keystore Filename":null},"propertyDescriptors":{"Truststore Type":{"name":"Truststore Type","displayName":"Truststore Type","identifiesControllerService":false,"sensitive":false},"SSL Protocol":{"name":"SSL Protocol","displayName":"TLS Protocol","identifiesControllerService":false,"sensitive":false},"Keystore Type":{"name":"Keystore Type","displayName":"Keystore Type","identifiesControllerService":false,"sensitive":false},"Truststore Filename":{"name":"Truststore Filename","displayName":"Truststore Filename","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Keystore Password":{"name":"Keystore Password","displayName":"Keystore Password","identifiesControllerService":false,"sensitive":true},"key-password":{"name":"key-password","displayName":"Key Password","identifiesControllerService":false,"sensitive":true},"Truststore Password":{"name":"Truststore Password","displayName":"Truststore Password","identifiesControllerService":false,"sensitive":true},"Keystore Filename":{"name":"Keystore Filename","displayName":"Keystore Filename","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"controllerServiceApis":[{"type":"org.apache.nifi.ssl.SSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.2"}},{"type":"org.apache.nifi.ssl.RestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"8373da49-7dc3-3c78-b47b-8d4991a13af7"},{"identifier":"8045fcd6-b92c-347f-b80c-e58659449cc8","instanceIdentifier":"1f4ee97b-018d-1000-0827-7f3b8966734a","name":"DEV_DriverPostgreDB","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"1.23.2"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://localhost:5432/dbCnpjEtl","dbcp-time-between-eviction-runs":"-1","Database User":"postgres","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/opt/nifi-1.23.2/lib/postgresql-42.7.1.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY","URL"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"8373da49-7dc3-3c78-b47b-8d4991a13af7"},{"identifier":"9187b935-87d1-3696-9f64-e4807a5f9ad5","instanceIdentifier":"fb5a6e84-018c-1000-b34a-4b40e792f2bf","name":"DEV_CSVEscritor","type":"org.apache.nifi.csv.CSVRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.23.2"},"properties":{"schema-branch":null,"CSV Format":"custom","Quote Character":"\"","Include Header Line":"true","Value Separator":",","schema-cache":null,"Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Schema Write Strategy":"no-schema","Null String":null,"Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"Comment Marker":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}","Quote Mode":"MINIMAL","Include Trailing Delimiter":"false"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"8373da49-7dc3-3c78-b47b-8d4991a13af7"},{"identifier":"97f9aad4-1a58-34ca-849d-901a8070f99d","instanceIdentifier":"fabedf36-018c-1000-71e5-68abce73ee05","name":"DEV_CSVLeitor","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.23.2"},"properties":{"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"false","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"infer-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"8373da49-7dc3-3c78-b47b-8d4991a13af7"},{"identifier":"adedff12-0ec1-3c6a-91c2-4f39b75952e7","instanceIdentifier":"fabf76f3-018c-1000-8aa5-8b5a7593be55","name":"DEV_AvroEscritor","type":"org.apache.nifi.avro.AvroRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.23.2"},"properties":{"compression-format":"NONE","Schema Write Strategy":"avro-embedded","schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"encoder-pool-size":"32","schema-cache":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"encoder-pool-size":{"name":"encoder-pool-size","displayName":"Encoder Pool Size","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"8373da49-7dc3-3c78-b47b-8d4991a13af7"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}